USE [ProjectShop]
GO
/****** Object:  StoredProcedure [Application].[SP_CreateOrderSaleOrModyorders]    Script Date: 05.09.2024 14:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER Procedure [Application].[SP_CreateOrderSaleOrModyorders] @CustomerId int, -- ID Заказчика
              @UserId int,-- Пользователь
              @InternalShipmentNum int=0,
			  @NewOrderState int,
			   @ItemInfoInOrder nvarchar(max)='5;25;30.35/5;25;30.35/8;12;60.10' -- 'ItemId;qty;price/ItemId;qty;price'
 
as

declare @MSG nvarchar(1000),@OrderState int

Select @OrderState=OrderState
     From Sales.ShipmentHeader
        where InternalShipmentNum=@InternalShipmentNum


if @OrderState>=900

   begin
		set @MSG =N'Нельзя редактировать закрытый\архивный заказ'
		Raiserror(@MSG,16,10)
   end


--Declare @CustomerId int=7, -- ID Заказчика
--              @UserId int=2,-- Пользователь
--               @OrderState int=100, -- статус заказа (100 = Создан)
--			   @ItemInfoInOrder nvarchar(max)='5;25;30.35/5;25;30.35/8;12;60.10' -- 'ItemId;qty;price/ItemId;qty;price'

if OBJECT_ID('Tempdb..#SDInfo')!=0 Drop table #SDInfo

Begin try
	Begin tran addItemToSD
		Declare @countDetailInOrders int,@SdinfoString nvarchar (25)
		
		Select @countDetailInOrders=count(*)
		From [dbo].FNT_udf_splistringtable(@ItemInfoInOrder,'/')




		if exists(Select*From [Sales].[ShipmentHeader] where  InternalShipmentNum=@InternalShipmentNum)
		
		   begin
		   
		       update [Sales].[ShipmentHeader]  set  OrderState=iif(@OrderState!=OrderState,@OrderState,OrderState) where InternalShipmentNum=@InternalShipmentNum
		   
		   end
		     else 
		         begin
		INSERT INTO [Sales].[ShipmentHeader]
		               ([CustomerId]
		               ,[DateTimeCreate]
		               
		               ,[UserId])
		         VALUES
		               (@CustomerId
		               ,Getdate()               
		               ,@UserId)			   
		  set @InternalShipmentNum = SCOPE_IDENTITY()
		        end
		
		  Exec Application.SP_ChangeOrderStatus @InNumOrder =@InternalShipmentNum,@statusOrders  = @NewOrderState 
		
		
		  Select   StringValue
		 into #SDInfo
		From [dbo].[FNT_udf_splistringtable](@ItemInfoInOrder,'/')
		
		  -- Вставляем детали в заказ
		 
		 Declare @itemId int,@qty int ,@price numeric(19,5)
		 Declare AddItems Cursor for
		
		 Select stringValue
		 From #SDInfo
		
		 open AddItems
		
		 while 1=1
		     begin
			     Fetch  next from AddItems into @SdinfoString
				 if  @@fetch_status!=0
				  begin
				     break
				  end
			             Set @itemId=[dbo].FTS_udf_splitstring(@SdinfoString,';',1)
						-- set @itemId=NULL
			             Set @qty=[dbo].[FTS_udf_splitstring](@SdinfoString,';',2)
			             Set @price=[dbo].[FTS_udf_splitstring](@SdinfoString,';',3)	
						 if exists(Select*
						              From [Sales].[ShipmentDetail] 
						              where InternalShipmentNum=@InternalShipmentNum and [ItemId]=@itemId and TotalQty=@qty and Price=@price )
		
						  begin
		
								CONTINUE;
		
						  end
		
			    update [Sales].[ShipmentDetail] set [TotalQty]=[TotalQty]+@qty,[QuantityOriginal]=[QuantityOriginal]+@qty,[Price]=[Price]+@qty*@price
				 where InternalShipmentNum=@InternalShipmentNum and [ItemId]=@itemId
		
				 if @@ROWCOUNT=0
				 begin
				 INSERT INTO [Sales].[ShipmentDetail]
		           ([InternalShipmentNum]
		           ,[ItemId]
		           ,[TotalQty]
		           ,[QuantityOriginal]
		           ,[Price])
		         VALUES
		           (@InternalShipmentNum
		           ,@ItemId
		           ,@qty
		           ,@qty
		           ,@qty*@price)
		
				   end
			  
			 end
		
		Close AddItems
		Deallocate AddItems


	Commit tran addItemToSD

end try
	begin catch
	 set @msg =N'Ошибка создания заказа :' +Error_message()
	 
	 Raiserror(@msg,16,10)
	 Rollback tran addItemToSD
	 Close AddItems
	Deallocate AddItems
	
	
	end catch



               