USE [ProjectShop]
GO
/****** Object:  StoredProcedure [Application].[SP_CreateReceiptOrder]    Script Date: 05.09.2024 17:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER Procedure [Application].[SP_CreateReceiptOrder] @SourceId int=1, -- ID ИСточника
              @UserId int=2,-- Пользователь
			   @ItemInfoInOrder nvarchar(max)='5;25/8;66/7;12', -- 'ItemId;qty;price/ItemId;qty;price'
			   @InternalRecNum int=5
 
as

declare @MSG nvarchar(1000)



if OBJECT_ID('Tempdb..#RDInfo')!=0 Drop table #RDInfo

Begin try
	Begin tran addItemToSD	
	
		 Select   StringValue
		 into #RDInfo
		From [dbo].[FNT_udf_splistringtable](@ItemInfoInOrder,'/')


		
		if not exists(Select*From [Purchase].[ReceiptHeader] where  InternaltReceiptNum=@InternalRecNum)
		
		   begin
		   
		INSERT INTO [Purchase].[ReceiptHeader]
           ([SourceId]          
           ,[DateTimeCreate])
     VALUES
           (@SourceId
           
           ,Getdate())
		      set @InternalRecNum = SCOPE_IDENTITY()
		   end
		    


		    Declare @itemId int,@qty int ,@rdinfoString nvarchar(25)
		 Declare AddItems Cursor for
		
		 Select stringValue
		 From #RDInfo
		
		 open AddItems
		
		 while 1=1
		     Begin
			     Fetch  next from AddItems into @rdinfoString
				 if  @@fetch_status!=0
				  begin
				     break
				  end
			            Set @itemId=[dbo].FTS_udf_splitstring(@rdinfoString,';',1)
					
			             Set @qty=[dbo].[FTS_udf_splitstring](@rdinfoString,';',2)
			         
					  update  [Purchase].[ReceiptDetail] set [TotalQty]=@qty,OpentQty=@qty
				 where InternaltReceiptNum=@InternalRecNum and [ItemId]=@itemId
				 if @@ROWCOUNT=0
INSERT INTO [Purchase].[ReceiptDetail]
           ([InternaltReceiptNum]
           ,[ItemId]
           ,[totalQty]
           ,[OpentQty])
     VALUES
           (@InternalRecNum
           ,@itemId
           ,@qty
           ,@qty )
			  
			 end
		
		Close AddItems
		Deallocate AddItems



	Commit tran addItemToSD

end try
	begin catch
	 set @msg =N'Ошибка создания заказа на поставку :' +Error_message()
	 
	 Raiserror(@msg,16,10)
	 Rollback tran addItemToSD
	 Close AddItems
	Deallocate AddItems
	
	
	end catch



               